<!doctype HTML>
<html>
  <head>
    <title>Rapidfacture Production Icons</title>
    <script>
      {{{loaderText}}}
      grunticon(["rf-production-font-svg.css", "rf-production-font-png.css", "png-fallback.css"]);
    </script>
  <noscript><link href="png-fallback.css" rel="stylesheet"></noscript>
  </head>
  <body>
     <style>
        .rf {
           width: 32px !important;
           height: 30px !important;
           display: inline-block;
        }
     </style>

    {{#each icons}}
      {{#with this}}

      <pre><code>{{prefix}}{{name}}:</code></pre><div class="rf rf-{{name}}" style="width: {{width}}px; height: {{height}}px;"></div><hr/>

      {{/with}}
    {{/each}}
</body>
</html>
